*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
  background-color: #092635;
  color: #fff;
  height: 10vh;
  line-height: 10vh;
}

.choice{
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.choice:hover{
    cursor: pointer;
    background-color: darkslategray;

}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
display: flex;
justify-content: center;
align-items: center;
font-size: 2rem;
}

#user-score,#comp-score{
    font-size: 5rem;
}